body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.choiceList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.categories{
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: 3px solid #66CCFF;
  margin: 20px 10px 0 10px;
  padding: 10px;

  font-size: 30px;
}

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
}

.searchPage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 150px;
  margin-top: 30px;
}

.showcase{
  border-radius: 20px;
  margin: 30px 0 10px 0;
  min-height: 50px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 16px -10px #000000 inset;
}

.product{
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.product:hover{
  background-color: #FFCC66;
  border-radius: 6px;
}

.buyImg{
  display: none;
  position: absolute;
  right: 5px;
}

.product:hover .buyImg{
  display:block;
}